@charset "windows-1251";

*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;} 

body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    background-color: peachpuff;
}

h3, h4 {
	font-family: 'Merriweather', serif;

}

.container {
    width: 100%;
    max-width: 1050px;
    margin: 0px auto;
    position: relative;

    z-index: 1;
}

.header{
    width: 100%;
    padding-top: 20px;
    background-color: #87509c;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header.fixed{
    padding: 10px 0;
    background-color: pink;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
    }
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 20px;
    }
.header_logo{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    }

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    background: url(/img/8/1.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro_inner{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 300px;
    padding-top: 80px;
    text-align: center;

    position: relative;
    z-index: 2;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}
.intro_suptitle{
    margin-bottom: 20px;
    font-size: 42.2px;
    font-weight: 700;
    color: black;
    opacity: 0.4;
    }

.row {
    padding-top: 60px;
}
.col-md-4 {
    padding-top: 60px;
}
.nav{
    font-size: 16px;
    text-transform: uppercase;
    }
.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    position: relative;
    line-height: 18px;
    
    color: #ffffff;
    text-decoration: none;
    transition: color 0.1s linear;
    }
.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    
    background-color: #fce38a;
    opacity: 0;
    
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
}
.nav_link:hover {
    color: #fce38a;
    }
.nav_link:hover:after,
.nav_link.active:after {
    opacity: 1;
}
    
.nav_link.active {
    color: #fce38a;
}

/* товары для корзины */

.product-img {
	width: 265px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.item-title {
    font-size: 1.5rem;
    font-weight: 500;
	font-family: 'Merriweather', serif;
	height: 70px;
}

.details-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.items {
	font-family: 'Merriweather', serif;
	background: #f2ede7;
	border-radius: 8px;
	width: 120px;
	display: flex;
	font-size: 18px;
	height: 30px;
	overflow: hidden;
}

.items__control {
	width: 40px;
	cursor: pointer;
	transition: 0.2s ease-in;
	text-align: center;
}

.items__control:hover {
    background: #eb5a1e;
    color: #FFF;
}

.items__current {
	width: 40px;
}

/* items--small */
.items.items--small {
	width: 90px;
	font-size: 16px;
	height: 26px;
	text-align: center;
}

.items.items--small .items__control {
	width: 30px;
}

.items.items--small .items__current {
	width: 30px;
}

.price {
	text-align: left;
}

.price__weight {
	color: #6c757d!important;
	font-size: 80%;
	line-height: 1;
}

.price__currency {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1;
}

.btn-outline-warning {
    color: #eb5a1e;
    border-color: #eb5a1e;
}

.btn-outline-warning:hover {
    color: #FFF;
    background-color: #eb5a1e;
    border-color: #eb5a1e;
}

.cart-item {

}

.cart-item__top {
	display: flex;
	align-items: flex-start;
	padding-bottom: 15px;
	border-bottom: 1px solid #dee2e6;
	margin-bottom: 15px;
}

.cart-item__img  {

}

.cart-item__img img {
	max-width: 100px;
	height: auto;
}

.cart-item__desc {
	padding-top: 15px;
	padding-left: 15px;
}

.cart-item__title {
	font-family: 'Merriweather', serif;
	font-size: 16px;
    line-height: 1.2;
	font-weight: 600;
	margin-bottom: 5px;
}

.cart-item__weight {
    color: #6c757d!important;
    font-size: 80%;
    line-height: 1;
    margin-bottom: 15px;
}

.cart-item__details {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.cart-item__details .price__currency {
	font-size: 18px;
	margin-left: 15px;
}

.cart-total {
	font-size: 18px;
	font-weight: 500;
}

.delivery-cost {

}

.free {
	color: #0EA107;
}

.total-price {
	color: #EB5A1E;
}

.rouble {
	color: #EB5A1E;
}

.none {
	display: none;
}
